.#{$namespace} {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow:
      0 0px 3.6px rgba(0, 0, 0, 0.024),
      0 0px 10px rgba(0, 0, 0, 0.035),
      0 0px 24.1px rgba(0, 0, 0, 0.046),
      0 0px 80px rgba(0, 0, 0, 0.07);
    position: sticky;
    top: 0;
    z-index: 3;

    @include media-breakpoint-up(sm) {
      padding: 15px 30px;
    }

    a {
      color: $color-text;
      font-weight: 400;
      font-size: .9rem;
      text-decoration: none;
    }

    ul,
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    ul {
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    li + li {
      margin-left: 24px;
    }

    li {
      position: relative;
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        border-bottom: solid 1px $color-text;
        content: '';
      }

      &.active::after {
        // display: block;
      }
    }

    &__logo {
      display: inline-block;
      margin-right: 15px;

      img {
        width: auto;
        height: 32px;
      }
    }
  }
}
