.#{$namespace}-page--home {
  h1 {
    margin: 0;
  }
  .title,
  .tagline {
    @include media-breakpoint-up(sm) {
      margin-bottom: 15px;
    }
  }
  .tagline {
    font-size: 1.1rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
    }
  }

  &__banner {
    position: relative;
    text-align: center;

    &::before {
      position: absolute;
      bottom: -150px;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('../assets/home-bg.png');
      background-repeat: no-repeat;
      background-position: 0 100%;
      background-size: 300px;
      content: '';
      @include media-breakpoint-up(sm) {
        background-size: 400px;
      }
    }

    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }

    .title-text {
      font-size: 1.4rem;
      @include media-breakpoint-up(sm) {
        font-size: 2.2rem;
      }
    }

    .btn--cta {
      color: #fff;
      font-weight: 400;
      background-color: $color-accent;
    }

    &__heading-container {
      margin-top: 30px;
    }

    &__hero {
      height: 60vh;
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      height: 65vh;
      text-align: left;

      &__heading {
        width: 50%;
      }

      &__heading-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 0;
        padding-right: 1rem;
      }
      &__hero {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        height: 100%;
      }
    }
  }

  &__banner__hero {
    overflow: hidden;
    background: #ffe9eb;
    background: -moz-linear-gradient(top, #ffe9eb 0%, #fecacc 100%);
    background: -webkit-linear-gradient(top, #ffe9eb 0%,#fecacc 100%);
    background: linear-gradient(to bottom, #ffe9eb 0%,#fecacc 100%);
    border-radius: 0 0 0 8rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('../assets/hero-bg.png');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: contain;
      content: '';
    }
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 100%;
    }
  }

  &__content {
    position: relative;
    margin-top: 60px;
    padding: 30px 0;
    text-align: center;

    .title-text {
      font-size: 1.2rem;
      @include media-breakpoint-up(sm) {
        font-size: 2rem;
      }
    }

    .btn--more {
      color: #fff;
      font-weight: 400;
      background-color: $color-secondary;
    }

    .slide {
      position: relative;
      margin: 15px 0 30px;
    }

    .swiper-slide {
      span {
        display: block;
        margin-top: 10px;
        color: $color-secondary;
        font-weight: 500;
      }
    }
  }
}
