.#{$namespace}-page--home {
  h1 {
    margin: 0;
  }
  .title,
  .tagline {
    @include media-breakpoint-up(sm) {
      margin-bottom: 15px;
    }
  }
  .title-text {
    font-size: 1.4rem;
    @include media-breakpoint-up(sm) {
      font-size: 2.2rem;
    }
  }
  .tagline {
    font-size: 1.1rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
    }
  }
  .btn--cta {
    color: #fff;
    font-weight: 400;
    background-color: $color-accent;
  }

  &__banner {
    position: relative;
    text-align: center;

    .container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }

    &__heading-container {
      margin-top: 30px;
    }

    &__hero {
      height: 60vh;
    }

    @include media-breakpoint-up(sm) {
      flex-direction: row;
      height: 60vh;
      text-align: left;

      &__heading {
        width: 50%;
      }

      &__heading-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin-top: 0;
        padding-right: 1rem;
      }
      &__hero {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
      }
    }
  }

  &__banner__hero {
    overflow: hidden;
    background: #ffe9eb;
    background: -moz-linear-gradient(top, #ffe9eb 0%, #fecacc 100%);
    background: -webkit-linear-gradient(top, #ffe9eb 0%,#fecacc 100%);
    background: linear-gradient(to bottom, #ffe9eb 0%,#fecacc 100%);
    border-radius: 0 0 0 10rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('../assets/hero-bg.png');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: contain;
      content: '';
    }
    img {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 100%;
    }
  }
}
