$namespace: 'app';

// Colors
// Palette from Material
// URL: https://material.io/tools/color/#!/
$color-text: #000;
$color-primary: #01579b;
$color-primary-light: #4f83cc;
$color-primary-dark: #002f6c;
$color-primary-contrast: #fff;
$color-accent: #ffb300;
$color-accent-light: #ffe54c;
$color-accent-dark: #c68400;
$color-accent-contrast: #000;

// Transition
$transition: .5s;
$transition-faster: .25s;
$transition-fastest: .15s;
$transition-slower: .7s;
$transition-slowest: .85s;
